$icon-font-path: "fonts/bootstrap/";
@import "../app/styles/stylesheets/_bootstrap.scss";
@import "../bower_components/css-modal/modal.scss";
/* Colour */

$primary-color: #413f98;
$secondary-color: #0fb0cf;
$shadow-color: #882a84;
/* Fonts */

@font-face {
    font-family: 'BrandonGrotReg';
    src: url('/styles/fonts/Brandon_reg.otf');
}

@font-face {
    font-family: 'BrandonGrotBold';
    src: url('/styles/fonts/Brandon_bld.otf');
}

@font-face {
    font-family: 'BrandonGrotLight';
    src: url('/styles/fonts/Brandon_light.otf');
}

@mixin border-radius($radius) {
    @include border-top-radius( $radius);
    @include border-bottom-radius( $radius);
}

body {
    font-family: 'BrandonGrotReg';
}

header.page {
    min-height: 50px;
    margin: 0px auto;
}

.fomento {
    color: $primary_color;
    padding: 5px;
    font-variant-caps: all-petite-caps;
    font-family: 'BrandonGrotBold';
    font-size: 40;
}

.travels {
    color: $secondary_color;
    padding: 5px;
    font-variant-caps: all-petite-caps;
    font-family: 'BrandonGrotReg';
    font-size: 40;
}

a:hover {
    color: $primary_color;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

footer {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    hr {
        border: none;
        height: 2px;
        color: $primary-color;
        background-color: $primary-color;
    }
    a {
        color: $primary-color;
    }
    a:hover {
        color: $secondary-color;
    }
}

.no-padding {
    padding: 0;
}
/***************** Home page ***********************************/

.jumbo-wrapper {
    position: relative;
}

.jumbotron {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(/images/index.jpg) no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid #e5e5e5;
}

.relative {
    position: relative;
}

.overlay {
    position: relative;
    top: -80px;
    text-align: center;
}

.box-link {
    height: 100%;
    background-color: $primary-color;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 20px;
    p {
        text-align: left;
        padding-bottom: 10px;
    }
    .explore {
        text-align: left;
    }
    h3 {
        font-variant-caps: all-petite-caps;
        font-family: 'BrandonGrotBold';
        text-align: center;
    }
    hr {
        width: 25%;
    }
    a {
        color: white;
        text-align: left;
    }
    a:hover {
        color: $secondary-color;
    }
}
/************************ Expanding blocks *************************************/

.blocks {
    width: 80%;
    margin: 0 auto;
    header {
        position: relative;
        h3 {
            display: inline-block;
            margin: 15px;
            margin-left: 30px;
            color: white;
            font-family: 'BrandonGrotBold';
            font-variant-caps: all-petite-caps;
            text-decoration: underline;
        }
        h3:hover {
            color: $secondary_color;
        }
        a {
            color: white;
            text-align: left;
        }
        a:hover {
            color: $secondary-color;
        }
    }
}

.block {
    background-color: $primary-color;
    margin: 5px;
    padding: 0;
    cursor: pointer;
    .fadout {
        display: none;
        background-color: $secondary-color;
        color: white;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: -40;
        width: 40px;
        height: 40px;
        font-size: 30;
        vertical-align: middle;
        text-align: center;
        float: right;
    }
    .fadout:hover {
        color: $shadow_color;
    }
}

.clone {
    position: absolute;
    cursor: default;
    z-index: 999;
    h3 {
        font-size: 40;
    }
}

.content {
    overflow: hidden;
    img {
        width: 100%;
        height: 33%;
    }
}

.content-more {
    display: none;
    cursor: default;
    background-color: white;
    color: black;
    padding-top: 20px;
    overflow-x: hidden;
    .overlay-content {
        padding: 0 10px 0 10px;
        height: 80%;
        font-size: 20;
        hr {
            width: 25%;
            height: 2px;
            color: $primary-color;
            background-color: $primary-color;
        }
        //overflow-y: auto;
    }
}
/*

    .hello {
        background-color: $secondary-color;
        position: relative;
        width: 200px;
        bottom: 20px;
        padding: 2px;
        font-family: 'BrandonGrotBold';
        color: $primary-color;
        font-size: 12px;
    }
    .hello:hover {
        color: white;
        
    }*/
