$icon-font-path: "fonts/bootstrap/";
@import "../app/styles/stylesheets/_bootstrap.scss";

/*@import "../bower_components/css-modal/modal.scss";*/

@import "../app/styles/stylesheets/bourbon/bourbon";
@import "../app/styles/stylesheets/neat/neat";

/* Colour */

$primary-color: #413f98;
$secondary-color: #0fb0cf;
$shadow-color: #882a84;

/* Fonts */

//.container {
//  width: 80%;
//}
@font-face {
    font-family: 'BrandonGrotReg';
    src: url('fonts/Brandon_reg.otf');
}
@font-face {
    font-family: 'BrandonGrotBold';
    src: url('fonts/Brandon_bld.otf');
}
@font-face {
    font-family: 'BrandonGrotLight';
    src: url('fonts/Brandon_light.otf');
}
@mixin border-radius($radius) {
    @include border-top-radius( $radius);
    @include border-bottom-radius( $radius);
}
body {
    font-family: 'BrandonGrotReg';
    p {
        line-height: 113%;
    }
}
.col-lg-4 {
    padding: 35px;
}
.col-md-4 {
    padding: 20px;
}
.col-sm-4 {
    padding: 10px;
}
header.page {
    margin: 0px auto;
//    margin-left: 60px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.fomento {
    color: $primary_color;
    padding-right: 5px;
//    margin-left: 50px;
    text-transform: uppercase;
    font-family: 'BrandonGrotBold';
    font-size: 35px;
}
.travel {
    color: $secondary_color;
//    padding: 5px;
    text-transform: uppercase;
    font-family: 'BrandonGrotReg';
    font-size: 35px;
}
a:hover {
    color: $primary_color;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
footer {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    hr {
        border: none;
        height: 2px;
        color: $primary-color;
        background-color: $primary-color;
    }
    a {
        color: $primary-color;
    }
    a:hover {
        color: $secondary-color;
    }
}
.no-padding {
    padding: 0;
}
//legacy
.legacy-col1 {
    padding: 5 15 35 15;
    margin-right: -5px;
    background-color: rgba(65, 63, 152, 0.1);
    .leg_head {
        background-color: #413F98;
        margin-left: -15px;
        position: relative;
        width: 106.5%;
        height: 50px;
        margin-top: -25px;
        h2 {
            color: white;
            padding: 10 10 10 10;
        }
    }
    p {
        padding: 20 10 0 0;
        text-align: justify;
        color: rgba(0,0,0,0.6);
//        color: black;
    }
    a {
        color: 0FB0CF;
    }
}
.legacy-col2 {
    padding: 5 15 25 15;
    margin-left: -5px;
    background-color: rgba(15,176,207, 0.1);
    .leg_head {
        background-color: #0FB0CF;
        margin-left: -15px;
        position: relative;
        width: 106.5%;
        height: 50px;
        margin-top: -25px;
        h2 {
           color: white;
            padding: 10 10 10 10;
        }
    }
    p {
        padding: 20 10 0 0;
        text-align: justify;
        color: rgba(0,0,0,0.6);
    }
    a {
        color: 0FB0CF;
    }
}
.blocks1 {
    width: 90%;
    margin: 0 auto;
    header {
        h3 {
            display: inline-block;
            margin: 15px;
            margin-left: 30px;
            color: white;
            font-family: 'BrandonGrotBold';
            text-transform: uppercase;
            text-decoration: none;
        }
        h3:hover {
            color: $secondary_color;
        }
        a {
            color: white;
            text-align: left;
        }
        a:hover {
            color: $secondary-color;
        }
    }
}

/***************** Home page ***********************************/

.relative {
    position: relative;
}
.overlay {
    position: relative;
    top: -90px;
    text-align: center;
}
.box-link {
    //height: 100%;
    background-color: $primary-color;
    color: white;
    //margin: 30px;
    //margin: 30px;
    //margin-bottom: 20px;
    margin: 0px auto;
    padding: 0px 20px 20px 20px;
    width: 90%;
    p {
        text-align: left;
        padding-bottom: 10px;
        padding-top: 5px;
    }
    .explore {
        text-align: left;
    }
    h3 {
        text-transform: uppercase;
        font-family: 'BrandonGrotBold';
        text-align: center;
        padding-top: 15px;
    }
    hr {
        width: 25%;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    a {
        color: white;
        text-align: left;
    }
    a:hover {
        color: $secondary-color;
    }
}

/************************ Expanding blocks *************************************/

.blocks {
    width: 90%;
    margin: 0 auto;
    header {
        h3 {
            display: inline-block;
            margin: 15px;
            margin-left: 30px;
            color: white;
            font-family: 'BrandonGrotBold';
            text-transform: uppercase;
            //            text-decoration: underline;
            opacity: 1.0;
        }
        h3:hover {
            font-weight: bolder;
        }
        a {
            color: white;
            text-align: left;
        }
        a:hover {
            color: $secondary-color;
        }
    }
}
.block {
    padding: 0;
    cursor: pointer;
    position: relative;
    
    .fadout {
        display: none;
        background-color: $secondary-color;
        color: white;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 45px;
        font-size: 35;
        vertical-align: middle;
        text-align: center;
        float: right;
    }
    .fadout:hover {
        color: $shadow_color;
    }
}
.block-header {
    position: absolute;
    top: 0px;
    z-index: 999;
    width: 100%;
    background: url('../images/trans.png') no-repeat;
    background-size: 100%;
//    margin-right: 8px;
    .underline {
        padding-bottom: 2px;
        border-bottom: white 3px solid;
    }
}

.clone {
    position: absolute;
    cursor: default;
    z-index: 999;
    .block-header {
        width: 99.5%;
    }
    /*h3 {
        font-size: 40;
    }*/
}
.content {
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
}
.content-more {
    display: none;
    cursor: default;
    background-color: white;
    color: black;
    padding-top: 65px;
    overflow-x: hidden;
    overflow-y: hidden;
    opacity: 0;
    .overlay-content {
        padding: 0 10px 0 10px;
        height: 80%;
        //        font-size: 20;
        margin-top: 15px;
        margin-left: 5px;
        p {
            color: #666666;
            font-size: 17.5px;
            text-align: justify;
        }
        hr {
            width: 20%;
            height: 2px;
            color: $primary-color;
            background-color: $primary-color;
        }
    }
    img {
        width: 100%;
        height: auto;
    }
}
.link-text {
//    position: absolute;
//    top: 80%;
//    z-index: 999;
    background-color: $secondary-color;
    color: $primary-color;
    width: 100%;
    padding: 8;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    font-family: 'BrandonGrotBold';
    font-size:12px;
    //    opacity: 0.4;
//    background: url('/images/trans-blue.png') no-repeat;
    background-size: 100%;
 
}
.link-text:hover {
 color: white;
 }
.rel {
    position: relative;
}
//trial
.hover-tile-outer {
    $base-border-color: gainsboro !default;
    $base-line-height: 1.5em !default;
    $medium-screen: em(640) !default;
    $hover-tile-height: 10em;
    $base-spacing: 1.5em;
    border: 1px solid $base-border-color;
    cursor: pointer;
    @include media($medium-screen) {
        width: 100%;
    }
    .hover-tile-container {
        height: auto;
        max-height: 100px;
        overflow: hidden;
    }
    .hover-tile-container:hover > .hover-tile {
        @include transform(translate(0,
        -100%));
    }
    .hover-tile {
        @include transition(all,
        0.8s ease-in-out);
        background: inherit;
        color: white;
        height: auto;
        max-height: 100px;
        overflow: hidden;
        padding: $base-spacing;
    }
    .hover-tile-hidden {
        background: transparentize(#000, 0.5);
        p {
            color: transparentize(#fff, 0.3);
            line-height: $base-line-height;
        }
        h4 {
            margin: 0 0 0.5em 0;
        }
    }
}
.padding-5 {
    padding: 5px;
//     margin-left:10px;
    
}
//.paddingi-5 {
//    padding: 15 5 5 5;
//    margin-left:10px;
//}

.modal-dialog {
    position: relative;
    top: 30px;
    left: 10px;
    width: 1080px;
}
.modal-body {
    .container1 {
        background: #ececec;
        background: #ececec;
        margin-right: 0px;
        margin-left: 0px;
       
        h2 {
            /*    background: #BBB;*/
            font-family: 'BrandonGrotBold';
            color: black;
            display: inline-block;
            font-size: 20px;
            font-weight: 800;
            //            margin-bottom: 0.1em;
            //            margin-top: 0.2em;
            //                margin-left: 5px;
            /*    padding: 3px 8px;*/
            //    padding-left: 1.4em;
            text-transform: uppercase;
        }
        p {
            color: #333;
            margin-bottom: 3em;
            font-size: 16px;
            //    padding-left: 3em;
            //                margin-left: 11px;
            text-align: justify;
            font-family: 'BrandonGrotReg';
        }
    }
}
.modal-no-padding {
    padding: 0 0 0 20;
}
.modal-header {
    .close {
        font-size: 40px;
    }
    .modal-title {
        font-weight: 800;
        text-transform: uppercase;
        font-family: 'BrandonGrotBold';
        margin-bottom: -15px;
    }
}